<header>
  <div class="container">
      <div class="row">
          <div class="logo col-xs-12 col-sm-6">
              <div class="ban">
                  <a href="#"><img class="logop" src="img/logo.jpeg" alt="SOFT_HADB Logo"></a>
                  <a href="#"><img class="banner" src="img/banner.jpeg" alt="SOFT_HADB Logo"></a>
              </div>
          </div>
          <div class="redes-sociales col-xs-12 col-sm-6">
              <a href="/login" class="login"> <i class="fa-regular fa-user"></i> </a>
              <a href="/dudas" class="dudas"> <i class="fa-solid fa-circle-question"></i> </a>
          </div>
      </div>
  </div>

  <nav class="menu">
      <div class="container-sm">
          <div class="row">
              <ul class="col-md-12">
                  <li><a href="/" >Inicio</a></li>
                  <li><a href="/documentos">Documentos</a></li>
                  <li><a href="/juegos">Juegos</a></li>
                  <li><a href="/videos">Videos</a></li>
                  <li><a href="/blog">Blog</a></li>
                  <li><a href="/about">Acerca de</a></li>
              </ul>
          </div>
      </div>
  </nav>
      
  <div class="ad container hidden-xs">
      <div class="row">
          <div class="col-md-12">
              <img src="img/index_portada-removebg-preview.png" alt="">
          </div>
      </div>
  </div>
</header>   