<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <!-- HEADER -->
    <%- include('../partials/header'); %>

    <!-- My Content -->
    <main
      class="container pt-2 text-center d-flex justify-content-center align-items-center vh-100"
    >
      <section>
        <h1 class="display-1">Acerca de este sitio web</h1>

        <p>
          Este es un sitio web en el cual se daran conceptos y mostraremos informacion relevante sobre la quimica, asi como diversos articulos importantes para mejorar el aprendizaje y juegos para hacer el conocimiento mas interactivo.
        </p>
      </section>
    </main>
    <%- include('../partials/footer'); %>
  </body>
</html>