<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="js/blog.js"></script>
    <%- include('../partials/head'); %>
</head>
<body onload="loadPruebaTemplate()">
    <!-- HEADER -->
    <%- include('../partials/header'); %>
            <h1 class="display-1" style="text-align: center;">Blog</h1>
            <!-- <button onclick="loadPruebaTemplate()">Click me </button> -->
            <div id="muestra">
                
            </div>

    <!-- FOOTER -->
    <%- include('../partials/footer'); %>
</body>
</html>