<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include("../partials/head") %>
</head>
<body>
    <%- include("../partials/header") %>
    <div class="container text-center">
      <img src="img/l3.jpeg" width="100px">
        <div class="row row-cols-1">
          <div class="col">
            <h1>BLOQUE 1</h1>
            <iframe src="pdf/bloque1.pdf" height="500px" width="1000px"></iframe>
          </div>
          <div class="col">
            <h1>BLOQUE 2</h1>
            <iframe src="pdf/bloque2.pdf" height="500px" width="1000px"></iframe>
          </div>
          <div class="col">
            <h1>BLOQUE 3</h1>
            <iframe src="pdf/bloque3.pdf" height="500px" width="1000px"></iframe>
          </div>  
        </div>
      </div>
    <!-- FOOTER -->
    <%- include("../partials/footer") %>
    <!--

        <main class="container pt-2 text-center d-flex justify-content-center align-items-center block vh-100">
            <section>
                <h1 class="display-1">DOCUMENTOS</h1>
                <iframe style="margin-top: 200px;" src="pdf/Practica_PercepciónVisual_Python.pdf" height="500px" width="500px"></iframe>
            </section>
        </main>
    -->
</body>
</html>