<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Escuela de quimica</title>
    <%- include('../partials/head'); %>	
</head>
    <body>
        <!-- HEADER -->
        <%- include('../partials/header'); %>
    <div class="container">
        <img src="img/l2.jpeg" width="100px">
        <div class="row">
            <section class="main col-md-12">
                <div class="row titulo-seccion">
                    <div class="col-md-12">
                        <h3>TEMAS</h3>
                    </div>
                </div>
            
                <section class="row posts">
                    <article class="col-sm-6 post">
                        <div class="contenedor">
                            <div class="thumb">
                                <a href="#"><img src="img/Qui_Herra_Vida.jpg" width="700" alt=""></a>
                            </div>
                            <div class="info">
                                <h2 class="titulo"><a href="#">Bloque I</a></h2>
                                <p class="fecha">Quimica como herramientas de vida</p>
                                <p class="extracto">La química es una ciencia natural porque busca comprender la naturaleza y porque tiene las
                                    siguientes características: es un cuerpo de conocimiento (como hechos, defi niciones, conceptos,
                                    teorías, leyes, etc. acordados entre expertos) con características específi cas (como que se basa en
                                    evidencias y pruebas, además de que cambia con el tiempo, etc.</p>
                                
                            </div>
                        </div>
                    </article>
            
                    <article class="col-sm-6 post">
                        <div class="contenedor">
                            <div class="thumb">
                                <a href="#"><img src="img/materia_energia.jpg" width="700" alt=""></a>
                            </div>
                            <div class="info">
                                <h2 class="titulo"><a href="#">Bloque II</a></h2>
                                <p class="fecha">Interrelaccion entre materia y energia</p>
                                <p class="extracto">Desde tiempos remotos el hombre ha tratado de describir 
                                    el mundo que lo rodea a partir de observaciones y experimentaciones. 
                                    El agua, el aire, la tierra y todo lo que conocemos esta compuesto por materia.</p>
                                
                            </div>
                        </div>
                    </article>

                    <article class="col-sm-6 post">
                        <div class="contenedor">
                            <div class="thumb">
                                <a href="#"><img src="img/Model_Atomico.jpg" width="700" alt=""></a>
                            </div>
                            <div class="info">
                                <h2 class="titulo"><a href="#">Bloque III</a></h2>
                                <p class="fecha">Modelo atomico y aplicaciones</p>
                                <p class="extracto">Un modelo atómico, por lo tanto, consiste en representar, de manera gráfica, 
                                    la materia en su dimensión atómica. El objetivo de estos modelos es que el estudio de este
                                    nivel material resulte más sencillo gracias a abstraer la lógica del átomo y trasladarla a un esquema.</p>
                                
                            </div>
                        </div>
                    </article>
            
                    <article class="col-sm-6 post">
                        <div class="contenedor">
                            <div class="thumb">
                                <a href="#"><img src="img/tabla_periodica.jpeg" width="700" alt=""></a>
                            </div>
                            <div class="info">
                                <h2 class="titulo"><a href="#">Bloque IV</a></h2>
                                <p class="fecha">Tabla periodica</p>
                                <p class="extracto">Durante los primeros 25 años del siglo XIX, se descubrieron unos 20 nuevos elementos. A
                                    medida que el numero de elementos conocidos, resultaron evidentes las
                                    semejanzas físicas y químicas.</p>
                                
                            </div>
                        </div>
                    </article>

                    <article class="col-sm-6 post">
                        <div class="contenedor">
                            <div class="thumb">
                                <a href="#"><img src="img/enlace-ionico-og.jpg" width="700" alt=""></a>
                            </div>
                            <div class="info">
                                <h2 class="titulo"><a href="#">Bloque V.</a></h2>
                                <p class="fecha">Enlaces quimicos e interacciones intermoleculares</p>
                                <p class="extracto">Recordemos que los compuestos son sustancias formadas de dos o más elementos en proporciones
                                    definidas. En esta sesión veremos que los compuestos se pueden clasificar como iónicos o covalentes, dependiendo del tipo de unión química que exista entre ellos.</p>
                                
                            </div>
                        </div>
                    </article>
            
                    <article class="col-sm-6 post">
                        <div class="contenedor">
                            <div class="thumb">
                                <a href="#"><img src="img/Quimica_Organica.jpg" width="700" alt=""></a>
                            </div>
                            <div class="info">
                                <h2 class="titulo"><a href="#"> Bloque VI</a></h2>
                                <p class="fecha">Nomenclatura de los compuestos quimicos</p>
                                <p class="extracto">Se conoce como nomenclatura (o nomenclatura química) al conjunto de normas y fórmulas que determinan la manera
                                    de nombrar y representar a los diversos compuestos químicos conocidos por el ser humano, dependiendo de los elementos que los componen y de la proporción en cada elemento  La importancia de la nomenclatura química radica en la posibilidad de nombrar, organizar y clasificar los diversos tipos de compuestos químicos, de manera tal que solamente con su término identificativo se pueda tener una idea de qué tipo de elementos los componen</p>
                                
                            </div>
                        </div>
                    </article>
                </section>
            </section>
        </div>
    </div>

    <!-- FOOTER -->
    <%- include('../partials/footer'); %>

    <!-- JAVASCRIPT CDNS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
