<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include("../partials/head") %>
</head>
    <body>
        <%- include("../partials/header") %>

        <div class="container">
            <div class="row">
                <section class="main col-md-12">
                    <div class="row titulo-seccion">
                        <div class="col-md-12">
                            <h3>QUIZ</h3>
                        </div>
                    </div>
                
                    <section class="row posts">
                        <article class="col-sm-6 post">
                            <div class="contenedor">
                                <div class="thumb">
                                    <a href="#"><img src="img/Qui_Herra_Vida.jpg" width="700" alt=""></a>
                                </div>
                                <div class="info">
                                    <h2 class="titulo"><a href="#">QUIZ 1</a></h2>
                                    <p class="fecha">Juego de ahorcado</p>
                                    <div class="categorias">
                                        <a href="/quizb1">Juego</a>
                                    </div>
                                </div>
                            </div>
                        </article>  

                        <article class="col-sm-6 post">
                            <div class="contenedor">
                                <div class="thumb">
                                    <a href="#"><img src="img/materia_energia.jpg" width="700" alt=""></a>
                                </div>
                                <div class="info">
                                    <h2 class="titulo"><a href="#">QUIZ 2</a></h2>
                                    <p class="fecha">Juego de quiz</p>
                                    <div class="categorias">
                                        <a href="/quizb2">Juego</a>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="col-sm-6 post">
                            <div class="contenedor">
                                <div class="thumb">
                                    <a href="#"><img src="img/materia_energia.jpg" width="700" alt=""></a>
                                </div>
                                <div class="info">
                                    <h2 class="titulo"><a href="#">Modelos atomicos</a></h2>
                                    <p class="fecha">QUIZ 3</p>
                                    <div class="categorias">
                                        <a href="/quizb3">Juego</a>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="col-sm-6 post">
                            <div class="contenedor">
                                <div class="thumb">
                                    <a href="#"><img src="img/materia_energia.jpg" width="700" alt=""></a>
                                </div>
                                <div class="info">
                                    <h2 class="titulo"><a href="#">QUIZ 4</a></h2>
                                    <p class="fecha">Juego de quiz</p>
                                    <div class="categorias">
                                        <a href="/quizb4">Juego</a>
                                    </div>
                                </div>
                            </div>
                        </article> 

                        <article class="col-sm-6 post">
                            <div class="contenedor">
                                <div class="thumb">
                                    <a href="#"><img src="img/materia_energia.jpg" width="700" alt=""></a>
                                </div>
                                <div class="info">
                                    <h2 class="titulo"><a href="#">QUIZ 5</a></h2>
                                    <p class="fecha">Juego de quiz</p>
                                    <div class="categorias">
                                        <a href="/quizb5">Juego</a>
                                    </div>
                                </div>
                            </div>
                        </article> 


                    </section>
                </section>        
            </div>
        </div>

        
        <!-- FOOTER -->
        <%- include("../partials/footer") %>

        <script src="js/appQuiz.js"></script>
    </body>
</html>